* {
    padding: 0;
    margin: 0;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-size: 18px;
}

.container {
    height: 100%;
    margin: 80px;
}

.todoapp__title {
    padding-bottom: 30px;
}

.todoapp__form {
    border: 1px solid #eee;
}

.todoapp__input {
    padding: 10px;
    border-radius: 5px;
    margin: 15px;
}

.todoapp__button {
    background-color: blue;
    padding: 12px 32px;
    color: #fff;
    border: 0 solid;
    border-radius: 5px;
}

.todoapp__list {
    border: 1px solid #eee;
    margin-top: 30px;

}

table {
    border-collapse: collapse;
    width: 100%;
}

tr,
td {
    border: 1px solid #eee;
    padding: 15px 32px;
}

.pending {
    background-color: rgb(231, 6, 252);
    color: aliceblue;
    padding: 0.5rem;
    border-radius: 10%;
}

.edit {
    background-color: rgb(0, 0, 155);
    color: aliceblue;
    padding: 0.5rem;
    border-radius: 10%;
    margin-right: 1.25rem;
}

.delete {
    background-color: rgb(138, 6, 6);
    color: aliceblue;
    padding: 0.5rem;
    border-radius: 10%;
}

table tr td:nth-child(1) {
    width: 10%;
}

table tr td:nth-child(2) {
    width: 20%;
}

table tr td:nth-child(3) {
    width: 20%;
}

table tr td:nth-child(4) {
    width: 15%;
}

table tr td:nth-child(5) {
    width: 25%;
}

.todoapp__button--completed {
    background-color: rgb(2, 105, 24);
    color: #fff;
    border: 0 solid;
    border-radius: 5px;
}

.todoapp__button--edit {
    background-color: rgb(6, 31, 255);
    color: #fff;
    border: 0 solid;
    border-radius: 5px;
}

.todoapp__button--delete {
    background-color: rgb(247, 4, 4);
    color: #fff;
    border: 0 solid;
    border-radius: 5px;
}